{% block sidebar %}
<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>
    This is web site is dedicated to the musings of Joel Bennett (aka Jaykul) about technology, software, software development, the web, and the world.
    </p>
</div>
<div class="sidebar-module sidebar-module-inset">
    <div id="diigo_linkroll" ><script type="text/javascript" src="//www.diigo.com/roll2/linkrolls?v=4&username=jaykul&count=5&style=customize&icon=false&desc=1&l_type=0&t_color=3498db&t_fam=Lato,Helvetica Neue,Helvetica,Arial,sans-serif&t_size=14&t_bold=true&t_italic=false&t_underline=false&i_fam=Lato,Helvetica Neue,Helvetica,Arial,sans-serif&i_color=ffffff&i_size=12&i_bold=false&i_italic=false&i_underline=false&bg_color=00222222&bg_repeat=no-repeat&title=I%20diigo%20these%20links&tags=&bg_img=" ></script></div>
</div>
<div class="sidebar-module sidebar-module-inset">
    <a class="twitter-timeline"  href="https://twitter.com/Jaykul" data-widget-id="484816047145369600">Tweets by @Jaykul</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>
<div class="sidebar-module">
    <h4>Find me on...</h4>
    <ol class="list-unstyled">
        <li><a href="//github.com/Jaykul">GitHub</a></li>
        <li><a href="//twitter.com/Jaykul">Twitter</a></li>
        <li><a href="//facebook.com/Jaykul">Facebook</a></li>
        <li><a href="//linkedin.com/in/Jaykul">LinkedIn</a></li>
    </ol>
</div>
{% endblock %}